{% extends 'base.html.twig' %}
{% block body %}
{% if (app.user) %}
    {% if not app.user.isVerified %}
        <h2 class="text-center">Cliquer sur le lien envoyer par mail pour verifier votre adresse email et acceder au contenue.</h2>
    {% elseif (client or manager) %}
        <div class="container" style="margin-top: 100px;">
            <div class="d-flex justify-content-between" style="padding-top: 50px;">
                <a class="btn btn-outline-dark" style="margin-bottom: 10px;" href="{{ path('mission') }}">Publier une nouvelle offre</a>
                {% if (manager) %}
                    {{form_start(form)}}
                        <div class="d-flex">
                            {{form_row(form.recherche)}}
                            {{form_row(form.submit)}}
                        </div>
                    {{form_end(form)}}
                {% endif %}
            </div>
            {% for mission in missions %}
                <div class="jumbotron">
                    <h2>{{mission.title}}</h2>
                    <p>{{mission.describ | slice(0, 250)}}...</p>
                    {% if (manager) %}
                        <a href="/candidat/{{mission.id}}" class="btn btn-outline-success">Candidats : {{mission.candidats|length}}</a>
                    {% endif %}
                    <a href="/mission/{{mission.id}}/edit" class="btn btn-outline-primary">Modifier</a>
                    <a href="/mission/{{mission.id}}/delete" class="btn btn-outline-danger">Supprimer</a>
                </div>
            {% endfor %}
        </div>
    {% elseif (profil) %}
        <div class="container" style="margin-top: 100px;">
            {% for mission in missions %}
                <div class="jumbotron">
                    <h2>{{mission.title}}</h2>
                    <p>
                        {{mission.describ | slice(0, 250)}}...
                        <small>
                            <a href="/mission/{{mission.id}}">En savoir plus</a>
                        </small>
                    </p>
                    <p class="text-muted">{{mission.price}}€ {{mission.inter}}</p>
                    <p><a href="/mission/{{mission.id}}" class="btn btn-outline-primary">En savoir plus</a></p>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Profil not completed, complet it <a href="{{ path('profil') }}">here</p></p>
    {% endif %}
{% endif %}
    <script>
        $("#nav").animate({
            backgroundColor: "rgba(255,255,255,0.7)"
        });
        $(".nav-link").animate({
            color: "black"
        });
        $("#logo")[0].src = "/logo.png";
    </script>
{% endblock %}